/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  animation-name: fall-down;
  animation-duration: 1s;
  position: relative;
}

.piece.p1 {
  background-color: red;
}

.piece.p2 {
  background-color: blue;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

@font-face {
  font-family: "Valorant";
  src: url("../SpringboardConnectFour/Valorant.eot");
  src: url("/VALORANT.woff") format("woff"),
    url("../SpringboardConnectFour/Valorant.otf") format("opentype"),
    url("../SpringboardConnectFour/Valorant.svg#filename") format("svg");
}

button {
  font-family: "Valorant";
  padding: 8px;
  font-size:medium;
  cursor: pointer;
  justify-content: center;
  margin:auto;
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
}

h1 {
  font-family: "Valorant";
}

label {
  font-family: "Valorant";
  padding: 10px;
  font-size:x-large;
  margin: 10px;
  display: inline-block;
}

input{
  display: block;
}

body{
  background-color: #FFFBF5;
}


#game{
  justify-content: center;
  margin:auto;
  display: block;
  width: fit-content;
}

#board{
  justify-content: center;
  margin:auto;
  display: block;
  width: fit-content;
}

@keyframes fall-down {
  from {
      top: -700%;
}

  to {
      top: 0px;
  }
}
